.header_title.p50
    .container
        .row
            .col-lg-8
                h1.text-uppercase | Buttons
                    span.small-text | LOREM IPSUM DOLOR SIT AMET CONSECTETUR
            .col-lg-4
                ol.breadcrumb.pull-right
                    li.breadcrumb-item
                        a(href="#") | Home
                    li.breadcrumb-item
                        a(href="#") | Library
                    li.breadcrumb-item.active
                        a(href="#") | data
section
    .container
        br
        br
        .row
            .col-lg-3
                h4 .btn

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm

            .col-lg-3
                h4 .btn-primary

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-primary
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-primary
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-primary

            .col-lg-3
                h4 .btn-primary-outline

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-primary-outline
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-primary-outline
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-primary-outline

            .col-lg-3
                h4 .btn-secondary

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-secondary
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-secondary
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-secondary
        br
        br
        .row
            .col-lg-3
                h4 .btn-success

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-success
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-success
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-success

            .col-lg-3
                h4 .btn-danger

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-danger
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-danger
                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-danger
                
            .col-lg-6
                h4 .btn-block

                br
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-LG"
                ).btn.btn-lg.btn-block
                br
                input(
                    name="" 
                    type="button"
                    value="BTN"
                ).btn.btn-block
                br
                input(
                    name="" 
                    type="button"
                    value="BTN-SM"
                ).btn.btn-sm.btn-block

