section.header_title.p50
	.container
		.row
			.col-lg-8
				h1.text-uppercase Bars
					span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR
			.col-lg-4
				ol.breadcrumb.pull-right
					li.breadcrumb-item
						a(href="") Home
					li.breadcrumb-item
						a(href="") Library
					li.breadcrumb-item.active
						a(href="") Data
section
	.container
		.row
			.col-lg-12
				.progress-container.text-lg-left
					progress.progress(
					value="50"
					max="100")
					span 50%
			br
			.col-lg-12
				.progress-container.text-lg-center
					progress.progress(
					value="50"
					max="100")
					span 50%
			br
			.col-lg-12
				.progress-container.text-lg-right
					progress.progress(
					value="75"
					max="100")
					span 75%
			br
			br
			.col-lg-12
				progress.progress.think-progress(
				value="75"
				max="100")
				span 75%
			br
			br
			.col-lg-12
				.progress-container
					progress.progress.think-progress.black(
					value="75"
					max="100")
					span.circle(
					style="width: 75%"
					)
						i.fa.fa-circle-o
